@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.register-section {

    // background-color: $light-blue;
    height: 46rem;

    &__container {
        border: 2px outset $mustard;
        border-radius: 4px;
        margin: 2rem;
        // margin-top: 10rem;
        padding: 2.5rem 1rem ;
    }

    &__title {
        padding-bottom: 1rem;
    }

    &__form {

        & h4 {
            padding-bottom: 0.5rem;
        }

        &--input {
            margin-bottom: 1rem;
            padding: 0.5rem;
            width: 100%;
            box-sizing: border-box;
            border-radius: 4px;
            border-style: solid;
            border-width: thin;
            height: 2.7rem;
        }

        &--button{ 
            display: flex;
            flex-direction: row-reverse;
        }

        &--submit {
            height: 2.052rem;
            padding: 0 1rem;
            background-color: $mustard;
            color: $neutral;
            border-radius: 4px;
            border: 0;
        }

        &--cancel {
            height: 2.052rem;
            margin-right: 1rem;
            padding: 0 1rem;
            background-color: white;
            color: $mustard;
            border-radius: 4px;
            border: 0;
        }
    }
}

.ui.selection.dropdown {
    border: 1px solid rgb(118, 118, 118) !important;
    margin-bottom: 0.875rem !important;
    height: auto !important;
    padding: 0.5rem !important;
}

.ui.multiple.dropdown>.text {
    margin: 0 !important;
}

.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
    color: rgb (0, 0, 0) !important;
}