@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

html {
    margin: 0;
}

.signIn-section {

    font-family: 'Titillium Web';
    background-color: $purple;
    height: 100vh;
    color: $pink;
    

    &__container {
        padding: 2.5rem 1rem ;
        padding-top: 13rem;
    }

    &__box {
        background-color: $white;
        padding: 2.5rem 1rem ;
        border-radius: 10px;
    }

    &__title {
        padding-bottom: 1rem;
    }

    &__form {

        & h4 {
            padding-bottom: 0.5rem;
        }

        &--input {
            margin-bottom: 1rem;
            padding: 0.5rem;
            width: 100%;
            box-sizing: border-box;
            border-radius: 4px;
            border-style: solid;
            border-width: thin;
        }

        &--button{ 
            display: flex;
            flex-direction: row-reverse;
            
        }

        &--submit {
            height: 1.9375rem;
            padding: 0 1rem;
            background-color: $pink;
            color: $neutral;
            border-radius: 4px;
            border: 0;
        }

        &--cancel {
            height: 1.9375rem;
            margin-right: 1rem;
            padding: 0 1rem;
            background-color: white;
            color: $pink;
            border-radius: 4px;
            border: 0;
        }
    }    
}

.redirect {
    background-color: $purple;

    & h2 {
        color: white;
    }

    &__navOption {
        border: 2px solid $pink !important;
        color: $white !important; 
    }
}