@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

main {
    background: linear-gradient(rgba(50, 50, 50, 0.7),rgba(50, 50, 50, 0.7)), url("../../assets/images/toronto-purple.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;  
}

.home-section {
    
    // background-size: cover;
    // background-position: center;
    // height: 40rem;  
    // display: flex;
    // justify-content: center;
    // align-items: center;

    &__text {
        color: $white;
        padding-top: 18rem;
        text-align: center;
        font-size: 30px;
    }
}

.container {

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        height: 5rem;
    }

    &__navOption {
        @include reset-link;
        font-weight: bold;
        color: $white;
        margin-right: 1rem;
        border: 2px solid $pink;
        border-radius: 4px;
        padding: 1rem;
        width: 30%;
        text-align: center;
        &:hover {
            background-color: $purple;
            opacity: 0.8;
        }
    }

    &__right {
        display: flex;
        margin: auto 0;
        padding-top: 2rem;
        padding-left: 7rem;
        
        
    }
}

