@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;


header {
    background-color: $purple;
}


h1,h2,h3,h4,h5,h6,p, button {
    font-family: 'Titillium Web' !important;
}

.header{

    & h3 {
        color: $white !important;
        margin: 0 !important;
        padding-left: 1rem !important;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1rem 0;
    }

    &__navOption {
        @include reset-link;
        color: $white;
        margin-right: 1rem;
        border: 1px solid $pink;
        border-radius: 4px;
        padding: 0.5rem;
        background-color: $pink;
        
    }

    &__left {
        display: flex;
        align-items: center;

        p {
            margin-left: 15px;
            text-transform: capitalize;
            color: $white;
        }
    }

    &__right {
        display: flex;
        margin: auto 0;
        
    }

    &__placeholder {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 1rem;
        background-color: $pink;
    }
}