h1,h2,h3,h4,h5,h6,p {
    margin:0;
}

@font-face {
    font-family: 'Titillium Web Semi-Bold';
    src: url('../assets/Fonts/TitilliumWeb-SemiBold.woff2') format('woff2'), url('../assets/Fonts/TitilliumWeb-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/Fonts/TitilliumWeb-Regular.woff2') format('woff2'), url('../assets/Fonts/TitilliumWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$header-font: 'Titillium Web Seni-Bold', sans-serif;
$paragraph-font: 'Titillium Web', sans-serif;

$mh1-font: 1.75rem/2.25rem $header-font;
$mh2-font: 1.25rem/1.75rem $header-font;
$mh3-font: 0.8125rem/1.25rem $header-font;
$mh4-font: 0.6875rem/1rem $header-font;
$mp1-font: 0.9375rem/1.625rem $paragraph-font;
$mp2-font: 0.8125rem/1.25rem $paragraph-font;
$mp3-font: 0.6875rem/1rem $paragraph-font;

$h1-font: 2rem/2.5rem $header-font;
$h2-font: 1.5rem/2rem $header-font;
$h3-font: 0.875rem/1.375rem $header-font;
$h4-font: 0.75rem/1.125rem $header-font;
$p1-font: 1rem/1.75rem $paragraph-font;
$p2-font: 0.875rem/1.375rem $paragraph-font;
$p3-font: 0.75rem/1.125rem $paragraph-font;